<!DOCTYPE html>
<html>
  <head>
    <title>Web Gallery</title>
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/felicelligallery/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="span12">&nbsp;</div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Albums</li>
                        {% for album in albums %}
                        <li><a href="{{ album['name'] }}">{{ album['name'] }} ({{ album['count'] }})</a><li>
                        {% else %}
                        <li>No Albums Found</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div id="galleria" style="width: 800px; height: 600px;">
                    {% for image in images %}
                    <img src="{{ app.request.getBaseUrl }}/{{ image }}"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/felicelligallery/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/felicelligallery/galleria/galleria-1.2.8.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            Galleria.configure({
                transition: 'fade'
            });
            Galleria.loadTheme('{{ asset('bundles/felicelligallery/galleria/themes/classic/galleria.classic.min.js') }}');
            Galleria.run('#galleria');
        });
    </script>

  </body>
</html>
